<p>{{ 'compatibility.intro_band' | t }}
{% comment %}new Date().getTime(){% endcomment %}
{% assign updated_date = '1539194000' | date: format: 'month_day_year'  %}
<br/><span class="italic">({{ 'compatibility.last_updated_on' | t: date: updated_date}})</span></p>
<p class="italic">{{ 'compatibility.kb_requires' | t }}</p>
<div class="kardiaband">
<div class="content">
  <div class="brand">
    {% include 'icon-apple.svg' %}
    <h3>{{ 'compatibility.watch' | t }}</h3>
  </div>
  <ul class="chart">
    <li>
      <span class="regular">{{ 'compatibility.watch3' | t }}</span>
      ({{ 'compatibility.watch_os_4_3' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.watch2' | t }}</span>
      ({{ 'compatibility.watch_os_4_3' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.watch1' | t }}</span>
      ({{ 'compatibility.watch_os_4_3' | t }})
    </li>
    <li>
      NOT compatible with the<br>original Apple Watch (Series 0)
    </li>
  </ul>
</div>
<div class="content">
  <div class="brand">
    {% include 'icon-apple.svg' %}
    <h3>{{ 'compatibility.host_iphone' | t }}</h3>
  </div>
  <ul class="chart">
    <li>
      <span class="regular">{{ 'compatibility.iphoneX' | t }}</span>
      ({{ 'compatibility.ios_12_0' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphone8_plus' | t }}</span>
      ({{ 'compatibility.ios_12_0' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphone8' | t }}</span>
      ({{ 'compatibility.ios_12_0' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphone7_plus' | t }}</span>
      ({{ 'compatibility.ios_12_0' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphone7' | t }}</span>
      ({{ 'compatibility.ios_12_0' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphone6s_plus' | t }}</span>
      ({{ 'compatibility.ios_12_0' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphone6s' | t }}</span>
      ({{ 'compatibility.ios_12_0' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphone6_plus' | t }}</span>
      ({{ 'compatibility.ios_12_0' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphone6' | t }}</span>
      ({{ 'compatibility.ios_12_0' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphonese' | t }}</span>
      ({{ 'compatibility.ios_12_0' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphone5s' | t }}</span>
      ({{ 'compatibility.ios_12_0' | t }})
    </li>
  </ul>
</div>
</div>
<div class="downloads">
  {% comment %}
    capture itunes and play urls for passing to the translation
  {% endcomment %}
  {% capture itunes_url %}
    <a href="https://itunes.apple.com/app/aliveecg/id579769143">
      {{ 'compatibility.app_store' | t }}
    </a>
  {% endcapture %}
  <div class="content">
    <h3>{{ 'compatibility.kardia_app' | t }}</h3>
    <p>
    {{ 'compatibility.use_of_kardia_band_requires_html' | t: itunes_url: itunes_url }}
    </p>

    <div class="store-links">
      <a class="itunes-badge" target="_blank" href="https://itunes.apple.com/app/aliveecg/id579769143"><img src="{{ 'apple-icon.png' | asset_url }}" alt="link to AppStore"></a>
    </div>
  </div>
</div>
