<div class="grid__item">
  <p class="app-text">{{ 'compatibility.intro_mobile' | t }}</p>
  {% comment %}new Date().getTime(){% endcomment %}
  {% assign updated_date = '1512080000' | date: format: 'month_day_year'  %}
  <p class="last-updated">({{ 'compatibility.last_updated_on' | t: date: updated_date}})</p>
</div>
<div class="grid__item large--one-half">
  <h3>{{ 'compatibility.apple_compatibility' | t }}</h3>
  <ul class="compatibility-list">
    <li>
      <b>{{ 'compatibility.iphoneX' | t }}</b>
      ({{ 'compatibility.ios_11_1' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.iphone8_plus' | t }}</b>
      ({{ 'compatibility.ios_11_1' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.iphone8' | t }}</b>
      ({{ 'compatibility.ios_11_1' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.iphone7_plus' | t }}</b>
      ({{ 'compatibility.ios_11_1' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.iphone7' | t }}</b>
      ({{ 'compatibility.ios_10_0_2' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.iphone6s_plus' | t }}</b>
      ({{ 'compatibility.ios_11_1' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.iphone6s' | t }}</b>
      ({{ 'compatibility.ios_11_1' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.iphone6_plus' | t }}</b>
      ({{ 'compatibility.ios_11_1' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.iphone6' | t }}</b>
      ({{ 'compatibility.ios_11_1' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.iphonese' | t }}</b>
      ({{ 'compatibility.ios_11_1' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.iphone5s' | t }}</b>
      ({{ 'compatibility.ios_11_1' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.iphone5c' | t }}</b>
      ({{ 'compatibility.ios_10_3_3' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.iphone5' | t }}</b>
      ({{ 'compatibility.ios_10_3_3' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.ipad_air2' | t }}</b>
      ({{ 'compatibility.ios_11_1' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.ipad_air' | t }}</b>
      ({{ 'compatibility.ios_11_1' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.ipad_mini_3' | t }}</b>
      ({{ 'compatibility.ios_11_1' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.ipad_mini_2' | t }}</b>
      ({{ 'compatibility.ios_11_1' | t }})
    </li>
  </ul>
  {% if shop.locale == 'en' %}
    <p class="omron-compat-link">
      <a href="https://omronhealthcare.com/kardiamobile/" target="_blank">
        {{ 'compatibility.omron_compatibility' | t }}
      </a>
    </p>
  {% endif %}
</div>
<div class="grid__item large--one-half">
  <h3>{{ 'compatibility.android_compatibility' | t }}</h3>
  <ul class="compatibility-list">
    <li>
      <b>{{ 'compatibility.google_pixel' | t }}</b>
      ({{ 'compatibility.android_8_0' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.google_pixel_xl' | t }}</b>
      ({{ 'compatibility.android_8_0' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.lg_nexus_5' | t }}</b>
      ({{ 'compatibility.android_6_0_1' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.motorola_moto_g_gen_2' | t }}</b>
      ({{ 'compatibility.android_8_0' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.galaxy_s8' | t }}</b>
      ({{ 'compatibility.android_7_0' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.galaxy_s7' | t }}</b>
      ({{ 'compatibility.android_6_0_1' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.galaxy_s6' | t }}</b>
      ({{ 'compatibility.android_6_0_1' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.galaxy_s5' | t }}</b>
      ({{ 'compatibility.android_6_0_1' | t }})
    </li>
    
    <li>
      <b>{{ 'compatibility.galaxy_s4' | t }}</b>
      ({{ 'compatibility.android_5_0_1' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.galaxy_j1' | t }}</b>
      ({{ 'compatibility.android_5_1_1' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.samsung_note_5' | t }}</b>
      ({{ 'compatibility.android_6_0_1' | t }})
    </li>
    <li>
      <b>{{ 'compatibility.samsung_note_3' | t }}</b>
      ({{ 'compatibility.android_5_0' | t }})
    </li>
  </ul>
</div>
<div class="grid__item large--one-whole">
  
  {% comment %}
    capture itunes and play urls for passing to the translation
  {% endcomment %}
  {% capture itunes_url %}
    <a href="https://itunes.apple.com/app/aliveecg/id579769143">
      {{ 'compatibility.app_store' | t }}
    </a>
  {% endcapture %}

  {% capture play_url %}
    <a href="https://play.google.com/store/apps/details?id=com.alivecor.aliveecg">
      {{ 'compatibility.google_play' | t }}
    </a>
  {% endcapture %}

  <h3>{{ 'compatibility.kardia_app' | t }}</h3>
  <p class="app-text small">
  {{ 'compatibility.use_of_kardia_mobile_requires_html' | t: itunes_url: itunes_url, play_url: play_url }}
  </p>

  <div class="app-store-badges">
    <a class="itunes-badge" href="https://itunes.apple.com/app/aliveecg/id579769143"><img src="https://alivecorcms.s3.amazonaws.com/sites/51b0fa1d9005a1000f00292e/theme/images/appstore-badge.svg" alt="link to AppStore"></a>
    <a class="android-badge" href="https://play.google.com/store/apps/details?id=com.alivecor.aliveecg"><img src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png" alt="Android app on Google Play"></a>
  </div>
</div>

