<p>{{ 'compatibility.intro_mobile' | t }}
{% comment %}new Date().getTime(){% endcomment %}
{% assign updated_date = '1542024000' | date: format: 'month_day_year'  %}
<br/><span class="italic">({{ 'compatibility.last_updated_on' | t: date: updated_date}})</span></p>
<div class="kardiamobile">
<div class="content">
  <div class="brand">
    {% include 'icon-apple.svg' %}
    <h3>{{ 'compatibility.ios' | t }}</h3>
  </div>
  <ul class="chart">
    <li>
      <span class="regular">{{ 'compatibility.iphoneXr' | t }}</span>
      ({{ 'compatibility.ios_12_1' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphoneXs' | t }}</span>
      ({{ 'compatibility.ios_12_1' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphoneXsMax' | t }}</span>
      ({{ 'compatibility.ios_12_1' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphoneX' | t }}</span>
      ({{ 'compatibility.ios_12_1' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphone8_plus' | t }}</span>
      ({{ 'compatibility.ios_12_1' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphone8' | t }}</span>
      ({{ 'compatibility.ios_12_1' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphone7_plus' | t }}</span>
      ({{ 'compatibility.ios_12_1' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphone7' | t }}</span>
      ({{ 'compatibility.ios_12_1' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphone6s_plus' | t }}</span>
      ({{ 'compatibility.ios_12_1' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphone6s' | t }}</span>
      ({{ 'compatibility.ios_12_1' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphone6_plus' | t }}</span>
      ({{ 'compatibility.ios_12_1' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphone6' | t }}</span>
      ({{ 'compatibility.ios_12_1' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphonese' | t }}</span>
      ({{ 'compatibility.ios_12_1' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphone5s' | t }}</span>
      ({{ 'compatibility.ios_12_1' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphone5c' | t }}</span>
      ({{ 'compatibility.ios_10_3_3' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.iphone5' | t }}</span>
      ({{ 'compatibility.ios_10_3_3' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.ipad_air2' | t }}</span>
      ({{ 'compatibility.ios_12_1' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.ipad_air' | t }}</span>
      ({{ 'compatibility.ios_12_1' | t }})
    </li>
    <li>
      <span class="regular">iPad (2017)</span>
      ({{ 'compatibility.ios_12_1' | t }})
    </li>
    <li>
      <span class="regular">iPad Mini 4</span>
      ({{ 'compatibility.ios_12_1' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.ipad_mini_3' | t }}</span>
      ({{ 'compatibility.ios_12_1' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.ipad_mini_2' | t }}</span>
      ({{ 'compatibility.ios_12_1' | t }})
    </li>
    <li><span class="regular">iPad Pro 12"</span>
      ({{ 'compatibility.ios_12_1' | t }})
    </li>
    <li><span class="regular">iPad Pro 9"</span>
      ({{ 'compatibility.ios_12_1' | t }})
    </li>
    <li><span class="regular">iPad Pro (2nd Gen) 12"</span>
      ({{ 'compatibility.ios_12_1' | t }})
    </li>
    <li><span class="regular">iPad Pro (2nd Gen) 10.5"</span>
      ({{ 'compatibility.ios_12_1' | t }})
    </li>
  </ul>
</div>
<div class="content">
  <div class="brand">
    {% include 'icon-android.svg' %}
    <h3>{{ 'compatibility.android' | t }}</h3>
  </div>
  <ul class="chart">
    <li>
      <span class="regular">{{ 'compatibility.google_pixel_3' | t }}</span>
      ({{ 'compatibility.android_9_0_0' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.google_pixel_3xl' | t }}</span>
      ({{ 'compatibility.android_9_0_0' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.google_pixel' | t }}</span>
      ({{ 'compatibility.android_9_0_0' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.google_pixel_xl' | t }}</span>
      ({{ 'compatibility.android_9_0_0' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.huawei_mate_10' | t }}</span>
      ({{ 'compatibility.android_8_0_0' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.lg_nexus_5' | t }}</span>
      ({{ 'compatibility.android_6_0_1' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.motorola_moto_g_gen_2' | t }}</span>
      ({{ 'compatibility.android_6_0' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.galaxy_s9' | t }}</span>
      ({{ 'compatibility.android_8_0_0' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.galaxy_s8' | t }}</span>
      ({{ 'compatibility.android_7_0_0' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.galaxy_s7' | t }}</span>
      ({{ 'compatibility.android_8_0_0' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.galaxy_s6' | t }}</span>
      ({{ 'compatibility.android_7_0_0' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.galaxy_s5' | t }}</span>
      ({{ 'compatibility.android_6_0_1' | t }})
    </li>
    
    <li>
      <span class="regular">{{ 'compatibility.galaxy_s4' | t }}</span>
      ({{ 'compatibility.android_5_0_1' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.galaxy_j1' | t }}</span>
      ({{ 'compatibility.android_5_1_1' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.samsung_note_9' | t }}</span>
      ({{ 'compatibility.android_8_1_0' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.samsung_note_8' | t }}</span>
      ({{ 'compatibility.android_8_0_0' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.samsung_note_5' | t }}</span>
      ({{ 'compatibility.android_7_0_0' | t }})
    </li>
    <li>
      <span class="regular">{{ 'compatibility.samsung_note_3' | t }}</span>
      ({{ 'compatibility.android_5_0' | t }})
    </li>
  </ul>
</div>
</div>

<div class="downloads">
  {% comment %}
    capture itunes and play urls for passing to the translation
  {% endcomment %}
  {% capture itunes_url %}
    <a href="https://itunes.apple.com/app/aliveecg/id579769143">
      {{ 'compatibility.app_store' | t }}
    </a>
  {% endcapture %}

  {% capture play_url %}
    <a href="https://play.google.com/store/apps/details?id=com.alivecor.aliveecg">
      {{ 'compatibility.google_play' | t }}
    </a>
  {% endcapture %}
  <div class="content">
  <h3>{{ 'compatibility.kardia_app' | t }}</h3>
  <p>
  {{ 'compatibility.use_of_kardia_mobile_requires_html' | t: itunes_url: itunes_url, play_url: play_url }}
  </p>

  <div class="store-links">
    <a class="itunes-badge" target="_blank" href="https://itunes.apple.com/app/aliveecg/id579769143"><img src="{{ 'apple-icon.png' | asset_url }}" alt="link to AppStore"></a>
    <a class="android-badge" target="_blank" href="https://play.google.com/store/apps/details?id=com.alivecor.aliveecg"><img src="{{ 'google-icon.png' | asset_url }}" alt="Android app on Google Play"></a>
  </div>
  {% if shop.locale == 'en' %}
    <p class="omron-link">
      <a href="https://omronhealthcare.com/kardiamobile/" target="_blank">
        {{ 'compatibility.omron_compatibility' | t }}
      </a>
    </p>
  {% endif %}
  </div>
</div>


  
