<!-- /snippets/home-main-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}
{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-third medium--one-half' %}
{% endunless %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<div class="home-main-item grid__item {{ grid_item_width }}">

  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}
  {% assign show_promo = false %}
  {% assign km-oos = false %}
  {% assign preorder-all = false %}
  {% assign fsa = false %}
  {% assign holiday_ribbon_us = false %}
  {% assign holiday_ribbon_uk = false %}
  {% for tag in product.tags %}
    {% if product.handle == 'kardiamobile' and shop.locale == 'en' %}
      {% if tag == 'pop-up' %}
        {% assign show_promo = true %}
      {% endif %}
      {% if tag == 'oos' %}
        {% assign km-oos = true %}
      {% endif %}
    {% endif %}
    {% if shop.locale == 'en' and tag == 'fsa' %}
      {% assign fsa = true %}
    {% endif %}
  {% endfor%}
  {% if on_sale %}
    {% if shop.locale == 'en' %}
      {% assign holiday_ribbon_us = true %}
    {% endif %}
    {% if shop.domain contains '.co.uk' %}
      {% assign holiday_ribbon_uk = true %}
    {% endif %}
  {% endif %}
  <a href="{{ product.url }}" class="grid__image">
    
    <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    {% comment %}
      Banners/Badges for US
    {% endcomment %}
    {% if shop.currency == 'USD' %}
      {% if product.handle == 'kardiamobile' and holiday_ribbon_us == false %}
        <div class="badge">
          Best<br>Seller!
        </div>
        {% if show_promo == true %}
          <div class="promo-banner"><span>A GIFT FOR YOUR HEART</span>: Buy KardiaMobile, get a free Carry Pod</div>
        {% endif %}
      {% endif %}
    {% else %}
      {% comment %}
        Ribbons for GB/DE stores
      {% endcomment %}
      {% if product.handle == 'kardiamobile' and holiday_ribbon_uk == false %}
        <div class="ribbon">
          Best Seller
        </div>
      {% endif %}
    {% endif %}
    {% if holiday_ribbon_us %}
      <div class="ribbon">
        Save $15
      </div>
    {% endif %}
    {% if holiday_ribbon_uk %}
      <div class="ribbon">
        Sale On Now
      </div>
    {% endif %}
  </a>
  <div class="home-main-item-copy">
    <h2 class="h2Title title">
      <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    </h2>
    <p class="h2Price price">
      {% comment %}
        You can show a leading 'from' or 'up to' by checking 'product.price_varies'
        if your variants have different prices.
      {% endcomment %}
      {% if on_sale %}
        {% if product.price_varies %}
          {% assign sale_price = product.price | money %}
          {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
        {% else %}
          <span class="h2Price red">
            {{ product.price | money }}
          </span>
          <span class="strikeout">
            {{ product.compare_at_price | money }}
          </span>
        {% endif %}
      {% else %}
        {% if product.price_varies %}
          {% assign price = product.price | money %}
          {{ 'products.general.from_text_html' | t: price: price }}
        {% else %}
          {{ product.price | money }}
        {% endif %}
      {% endif %}
    </p>
    {% if fsa %}
      {% include 'hsa-fsa-badge' %}
    {% endif %}
    <div class="review-count">
      <a href="{{ product.url }}/#reviews">
        {% if shop.locale == 'en' %}
          <span class="stamped-product-reviews-badge stamped-main-badge" data-id="{{ product.id }}" style="display: inline-block;">{{ product.metafields.stamped.badge }}</span>
        {% else %}
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% endif %}
        <span class="go-see-em">{{ 'main_product.see_all_reviews' | t }}</span>
      </a>
    </div>
    {% unless no_description %}
      <div class="product-description rte home" itemprop="description">
        {% comment %}
          Custom descriptions for main products. Default is to use first bullet point.
        {% endcomment %}
        {% if product.handle == 'kardiamobile' %}
          {{ 'kardiamobile_home.message_html' | t }}
        {% elsif product.handle == 'kardiamobile6l' %}
          {{ 'kardiamobile6l_home.message_html' | t }}
        {% else %}
          {{product.description}}
        {% endif %}
      </div>
    {% endunless %}

    <form action="/cart/add" method="post" enctype="multipart/form-data" id="{{product.id}}AddToCartForm" class="AddToCartForm form-vertical">
      {% if product.handle == 'kardiamobile' or product.handle == 'kardiamobile6l' %}
      <div class="disclaimer">
        <a href="{{ product.url }}/#compatibility">
        {{ 'compatibility.works_with_most' | t }}<br/>(Android & iOS)
        </a>
      </div>
      {% endif %}
      {% if product.variants.size > 1 %}
      <div class="variant-title {% if product.variants.size > 3 %}oneline{% endif %}">{{product.options.first | escape}}</div>
        {% assign has_checked = false %}
        {% for variant in product.variants %}
          {% if variant.inventory_policy == 'continue' and variant.inventory_quantity <= 1 %}
            <div class="variant-input-wrapper">
              <input type="radio"
                 id="{{variant.id}}"
                 name="id"
                 data-sku="{{variant.sku}}"
                 value="{{variant.id}}"
                 class="variant-input"
                 data-index="{{forloop.index0}}"
                 {% if has_checked == false %}
                   checked="true"
                   {% assign has_checked = true %}
                 {% endif %}
                 >
              <label class="form-control" for="{{variant.id}}">
                {{variant.title}}
                {% if add_price > 0 %}
                &nbsp;(add {{add_price | money_with_currency}})
                {% endif %}
              </label>
            </div>
          {% elsif variant.available %}
            {% assign add_price = variant.price | minus: product.price %}
            <div class="variant-input-wrapper">
              <input type="radio"
                 id="{{variant.id}}"
                 name="id"
                 data-sku="{{variant.sku}}"
                 value="{{variant.id}}"
                 class="variant-input"
                 data-index="{{forloop.index0}}"
                 {% if has_checked == false %}
                   checked="true"
                   {% assign has_checked = true %}
                 {% endif %}
                 >
              <label for="{{variant.id}}" class="form-control">
                {{variant.title}}
                {% if add_price > 0 %}
                &nbsp;(add {{add_price | money_with_currency}})
                {% endif %}
              </label>
            </div>
          {% else %}
            <div class="variant-input-wrapper">
              <input type="radio"
                   class="variant-input"
                   disabled>
              <label class="form-control out-of-stock">
                {{ variant.title }} ({{ 'products.product.sold_out' | t }})
              </label>
            </div>
          {% endif %}
        {% endfor %}
      {% else %}
        {% comment %}
          for only one variant, need to choose the id to add to cart
        {% endcomment %}
        {% for variant in product.variants %}
          <input type="hidden"
             id="{{variant.id}}"
             name="id"
             data-sku="{{variant.sku}}"
             value="{{variant.id}}"
             class="variant-input"
             data-index="{{forloop.index0}}"
             {% if forloop.first == true %}
               checked="true"
             {% endif %}
          >
        {% endfor %}
      {% endif %}
      <div class="visually-hidden">
        <label for="{{product.id}}Quantity">Quantity</label>
        <input type="number" id="{{product.id}}Quantity" name="quantity" value="1" min="1" class="quantity-selector">
      </div>
      <button type="submit" name="add" id="{{product.id}}" class="btn" {% if sold_out %}disabled{% endif %}>
        <span id="AddToCartText">
        {% if sold_out %}
          {{ 'products.product.sold_out' | t }}
        {% else %}
          {{ 'products.product.add_to_cart' | t }}
        {% endif %}
        </span>
      </button>
      {% comment %}
        International solutions for sold out
      {% endcomment %}
      {% if product.handle == 'kardiamobile' and shop.currency == 'GBP' and sold_out %}
        <a href="https://www.amazon.co.uk/Kardia-Mobile-AliveCor-Black-0-6oz/dp/B01A4W8AUK/" class="btn amazon-sold-out-home" target="_blank">
          Buy From Amazon
        </a>
      {% elsif product.handle == 'kardiamobile' and shop.currency == 'EUR' and sold_out %}
        <a href="https://www.mindtecstore.com/AliveCor-Kardia-Mobile-ECG-Heart-Monitor" class="btn amazon-sold-out-home" target="_blank">
          Buy From MindTec
        </a>
      {% elsif product.handle == 'kardiamobile6l' and shop.currency == 'USD' and sold_out %}
        <a href="https://www.amazon.com/AliveCor%C2%AE-KardiaMobile-FDA-Cleared-Wireless-Smartphone/dp/B07RQW6SD5" class="btn amazon-sold-out-home" target="_blank">
          Buy From Amazon
        </a>
      {% else %}
        <a href="{{ product.url }}" class="view-details">
          View Details
        </a>
      {% endif %}
      {% comment %}
        Show phone compatibility on mobile
      {% endcomment %}
      {% if product.handle == 'kardiamobile' and shop.locale == 'en' %}
        <div id="deviceNameCompat"></div>
      {% endif %}
      {% comment %}
        Late ship/preorder messaging by tags
      {% endcomment %}
      {% if preorder-all == true %}
        <div class="late-ship home {{ product.handle }} show disclaimer">
          Please allow 1-2 weeks for delivery.
        </div>
      {% endif %}
      {% if km-oos %}
        <div style="clear: left">
          {% include 'oos-message', nomargin: false %}
        </div>
      {% endif %}
    </form>
  </div>
</div>
