<!-- /snippets/home-main-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}
{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-third medium--one-half' %}
{% endunless %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<div class="home-main-item grid__item {{ grid_item_width }}">

  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}
  {% assign show_promo = false %}
  {% assign show_preorder = false %}
  {% assign preorder-all = false %}
  {% for tag in product.tags %}
    {% if product.handle == 'kardiamobile' and tag == 'pop-up' and shop.locale == 'en' %}
      {% assign show_promo = true %}
    {% endif %}
    {% if product.handle == 'kardiaband' and shop.locale == 'en' %}
      {% if tag == 'preorder' %}
        {% assign show_preorder = true %}
      {% endif %}
      {% if tag == 'preorder-all' %}
        {% assign preorder-all = true %}
      {% endif %}
    {% endif %}
  {% endfor%}
  
  <a href="{{ product.url }}" class="grid__image">
    {% if show_promo == true %}
      <div class="promo-banner"><span>A GIFT FOR YOUR HEART</span>: Buy KardiaMobile, get a free Carry Pod</div>
    {% endif %}
    <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    {% if product.handle == 'kardiamobile' and kb-promo == false %}
      <div class="ribbon">
        Best Seller
      </div>
    {% endif %}
    {% if product.handle == 'kardiaband' %}
      {% if kb-promo == false %}
      <div class="ribbon">
        For {% include 'icon-apple.svg' %} Watch Only
      </div>
      {% else %}
      <div class="ribbon nocaps">
        Save $100. Extended through July 18!*
      </div>
      <div class="watch-only-overlay">
        For <span>{% include 'icon-apple.svg' %} Watch</span> Only
      </div>
      <div class="discount-disclaimer">
        *Offer ends July 18, 2018 11:59pm PDT. Limit 2 per order.
      </div>
      {% endif %}
    {% endif %}
  </a>

  <p class="h2Title title">
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
  </p>
  <p class="h2Price price">
    {% comment %}
      You can show a leading 'from' or 'up to' by checking 'product.price_varies'
      if your variants have different prices.
    {% endcomment %}
    {% if on_sale %}
      {% if product.price_varies %}
        {% assign sale_price = product.price | money %}
        {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
      {% else %}
        <span class="h2Price red">
          {{ product.price | money }}
        </span>
        <span class="strikeout">
          {{ product.compare_at_price | money }}
        </span>
      {% endif %}
    {% else %}
      {% if product.price_varies %}
        {% assign price = product.price | money %}
        {{ 'products.general.from_text_html' | t: price: price }}
      {% else %}
        {{ product.price | money }}
      {% endif %}
    {% endif %}
    </p>
    
      <div class="disclaimer">
        {% if product.handle == 'kardiaband' %}
          {{ 'products.product.kb_premium1' | t }}<br/>{{ 'products.product.kb_premium2' | t }}
        {% endif %}
      </div>
    <div class="review-count">
      <a href="{{ product.url }}/#reviews">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        <span class="go-see-em">{{ 'main_product.see_all_reviews' | t }}</span>
      </a>
    </div>
    {% unless no_description %}
    <div class="product-description rte home" itemprop="description">
      {% comment %}
      Wrap description in a div and add another div into description in admin and use styles to show hide the correct one
      {% endcomment %}
      {{product.description}}
    </div>
    {% endunless %}
  
    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical" onsubmit="{% if show_promo == true %}promoAdd(event, this, {{product.id}}){% endif %}">
      {% if product.variants.size > 1 %}
      <div class="variant-title {% if product.variants.size > 3 %}oneline{% endif %}">{{product.options.first | escape}}</div>
        {% assign has_checked = false %}
        {% for variant in product.variants %}
          {% if variant.inventory_policy == 'continue' and variant.inventory_quantity <= 1 %}
              <div class="variant-input-wrapper">
                <input type="radio"
                   id="{{variant.id}}"
                   name="id"
                   data-sku="{{variant.sku}}"
                   value="{{variant.id}}"
                   class="variant-input"
                   data-index="{{forloop.index0}}"
                   {% if show_preorder == true %}
                     onChange="variantPreorder('{{ product.handle }}')"
                   {% endif %}
                   {% if has_checked == false %}
                     checked="true"
                     {% assign has_checked = true %}
                   {% endif %}
                   >
                <label class="form-control" for="{{variant.id}}">
                  {{variant.title}}
                  {% if add_price > 0 %}
                  &nbsp;(add {{add_price | money_with_currency}})
                  {% endif %}
                </label>
              </div>
            {% elsif variant.available %}
              {% assign add_price = variant.price | minus: product.price %}
              <div class="variant-input-wrapper">
                <input type="radio"
                   id="{{variant.id}}"
                   name="id"
                   data-sku="{{variant.sku}}"
                   value="{{variant.id}}"
                   class="variant-input"
                   data-index="{{forloop.index0}}"
                   {% if show_preorder == true %}
                     onChange="variantForSale('{{ product.handle }}')"
                   {% endif %}
                   {% if has_checked == false %}
                     checked="true"
                     {% assign has_checked = true %}
                   {% endif %}
                   >
                <label for="{{variant.id}}" class="form-control">
                  {{variant.title}}
                  {% if add_price > 0 %}
                  &nbsp;(add {{add_price | money_with_currency}})
                  {% endif %}
                </label>
              </div>
            {% else %}
              <div class="variant-input-wrapper">
                <input type="radio"
                     class="variant-input"
                     disabled>
                <label class="form-control out-of-stock">
                  {{ variant.title }} ({{ 'products.product.sold_out' | t }})
                </label>
              </div>
            {% endif %}
          {% endfor %}
        {% else %}
          {% comment %}
          for only one variant, need to choose the id to add to cart
          {% endcomment %}
          <div class="{% if shop.currency == 'GBP' %}variant-placeholder-gb{% elsif shop.currency == 'EUR' %}variant-placeholder-de{% else %}variant-placeholder{% endif %}"></div>
          {% for variant in product.variants %}
          <input type="hidden"
                 id="{{variant.id}}"
                 name="id"
                 data-sku="{{variant.sku}}"
                 value="{{variant.id}}"
                 class="variant-input"
                 data-index="{{forloop.index0}}"
                 {% if forloop.first == true %}
                   checked="true"
                 {% endif %}
                 >
          {% endfor %}
        {% endif %}
        <div class="visually-hidden">
          <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
        </div>

        {% comment %}
          remove onclick function to stop auto adding item to cart
        {% endcomment %}
        <button type="submit" name="add" id="{{product.id}}" class="btn" {% if sold_out %}disabled{% endif %}>
          <span id="AddToCartText">
          {% if sold_out %}
          {{ 'products.product.sold_out' | t }}
          {% else %}
          {{ 'products.product.add_to_cart' | t }}
          {% endif %}
          </span>
        </button>
        {% if product.handle == 'kardiamobile' and shop.currency == 'GBP' and sold_out %}
        <a href="https://www.amazon.co.uk/Kardia-Mobile-AliveCor-Black-0-6oz/dp/B01A4W8AUK/" class="btn amazon-sold-out-home" target="_blank">
          Buy From Amazon
        </a>
        {% elsif product.handle == 'kardiamobile' and shop.currency == 'EUR' and sold_out %}
        <a href="https://www.mindtecstore.com/AliveCor-Kardia-Mobile-ECG-Heart-Monitor" class="btn amazon-sold-out-home" target="_blank">
          Buy From MindTec
        </a>
        {% else %}
        <a href="{{ product.url }}" class="view-details">
          View Details
        </a>
        {% endif %}
        {% if product.handle == 'kardiamobile' and shop.locale == 'en' %}
          <div id="deviceNameCompat"></div>
        {% endif %}
        {% if preorder-all == true %}
          <div class="late-ship home {{ product.handle }} show">
            <p>We can't make them fast enough! Please allow 3-4 weeks for delivery.</p>
          </div>
        {% endif %}
      </form>
</div>
