<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="https://www.alivecor.com" class="logo">
      {% include "alivecor-logo-teal.svg" %}
    </a>
    <div class="mobile-only">
      <span class="mobile-buy">
        <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
          <img src="{{ 'store_icon_cart@3x.png' | asset_url }}"/>
            <span id="CartCount">
              {% if cart.item_count > 0 %}
                {{ cart.item_count }}
              {% else %}
                &nbsp;
              {% endif %}
            </span>
        </a>
      </span>
      <a href="javascript:void(0)"
        class="navicon navigation-menu-button"
        id="js-mobile-menu">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
    <nav role="navigation">
    <div id="mobile-overlay">
      <div id="js-mobile-menu-close"></div>
      <ul id="js-navigation-menu" class="navigation-menu">
        <li class="nav-link" id="products-menu">
          <a>
            Products
          </a>
          <div class="dropdown">
            <ul>
              <li>
                <a class="ga-nav-tracker" href="https://www.alivecor.com/kardiamobile">KardiaMobile</a>
              </li>
              <li>
                <a class="ga-nav-tracker" href="https://www.alivecor.com/kardiamobile6l">KardiaMobile 6L</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-link">
          <a class="ga-nav-tracker" href="https://clinicians.alivecor.com">
            Clinicians
          </a>
        </li>

        <li class="nav-link">
          <a class="ga-nav-tracker" href="https://www.alivecor.com/blog">
            Patients
          </a>
        </li>

        <li class="nav-link">
          <a class="ga-nav-tracker" href="https://alivecor.zendesk.com/hc">
            Support
          </a>
        </li>

        <li class="nav-link">
          <a class="ga-nav-tracker" href="https://www.alivecor.com/international">
            International
          </a>
        </li>

        <li class="nav-link no-mobile">
          <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
            <img src="{{ 'store_icon_cart@3x.png' | asset_url }}"/>
              {% if cart.item_count > 0 %}
              <span id="CartCount">
                {{ cart.item_count }}
              </span>
              {% endif %}
          </a>
        </li>

        <li class="nav-link free-ship no-mobile">
          {{ 'layout.navigation.free_ship' | t }}
          {% comment %}
            If customer accounts are enabled, provide login and create account links
          {% endcomment %}
          {% if shop.customer_accounts_enabled %}
            <div class="float accountLinks">
              {% if customer %}
                {% if customer.first_name != blank %}
                  {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                  {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                {% else %}
                  <a href="/account">{{ 'layout.customer.account' | t }}</a>
                {% endif %}
                | {{ 'layout.customer.log_out' | t | customer_logout_link }}
              {% else %}
                {{ 'layout.customer.log_in' | t | customer_login_link }}
                {% if shop.customer_accounts_optional %}
                | {{ 'layout.customer.create_account' | t | customer_register_link }}
                {% endif %}
              {% endif %}
            </div>
          {% endif %}
        </li>
      </ul>
      </div>
    </nav>
  </div>
  <div>          
  {% comment %}
    Show number of items in the cart and total cost in the /cart link

    Ajax Cart Notes:
      - #cartCount updates the total number of items in the cart
      - #cartCost updates the total cost of the cart
      - Documentation:  http://shopify.com/timber#ajax-cart
  {% endcomment %}
  </div>
</header>
