<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    {% if settings.favicon_enable %}
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
    {% endif %}

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    <script>
      dataLayer = [];
    </script>

    {% include 'gtm-head' %}
    {% include 'omniconvert' %}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  </head>
  <body>
    {% include 'gtm-body' %}
    {{ skip_to_content_link }}
    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>

    {{ tracking_code }}
    <script>
      // append polyfill
      // Source: https://github.com/jserz/js_piece/blob/master/DOM/ParentNode/append()/append().md
      (function (arr) {
        arr.forEach(function (item) {
          if (item.hasOwnProperty('append')) {
            return;
          }
          Object.defineProperty(item, 'append', {
            configurable: true,
            enumerable: true,
            writable: true,
            value: function append() {
              var argArr = Array.prototype.slice.call(arguments),
                docFrag = document.createDocumentFragment();
              argArr.forEach(function (argItem) {
                var isNode = argItem instanceof Node;
                docFrag.appendChild(isNode ? argItem : document.createTextNode(String(argItem)));
              });
              this.appendChild(docFrag);
            }
          });
        });
      })([Element.prototype, Document.prototype, DocumentFragment.prototype]);

      if (window.innerWidth > 999) {
        var discountField = document.getElementsByClassName('order-summary__section--discount')[0];
        var discountSection = document.getElementsByClassName('order-summary__sections')[0];
        if (discountField && discountSection) {
          var link = document.createElement('a');
          link.className = 'promoShowLink';
          link.onclick = function() {
            discountField.style.visibility = 'visible';
            link.style.display = 'none';
          }
          link.append('Promotional Code');
          discountSection.append(link);
          discountSection.append(discountField);
          discountField.style.visibility = 'hidden';
        }
      }

      {% for discount in checkout.discounts %}
        {% assign discountcode = discount.code %}
      {% endfor %}
      var productsArray = [];
      {% for item in checkout.line_items %}
        productsArray.push({
          name: '{{ item.title }}',
          productId: '{{ item.product_id }}',
          quantity: '{{ item.quantity }}'
        });
      {% endfor %}
      dataLayer.push({
        orderId: '{{ checkout.order_number }}',
        revenue: '{{ checkout.subtotal_price | money_without_currency }}',
        products: productsArray,
        discountCode: '{{ discountcode }}'
      });
    </script>
  </body>
</html>
