<!-- /templates/cart.liquid -->
{% comment %}

  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}

{% if cart.item_count > 0 %}
  <form action="/cart" method="post" novalidate class="cart table-wrap" id="cartform">

    <!-- DISCOUNT CODE script for checkout ================================================== -->
    {% include 'discount-code-cart' %}
	<div class="cart-header">
      <div class="wrapper">
        <div class="cart-title">
          <h2 class="cart">{{ 'cart.general.title' | t }}</h2>
          <span><a href="/">&lt; Continue Shopping</a></span>
        </div>
        <a href="//www.shopify.com/pci-compliant?utm_source=secure&amp;utm_medium=shop" title="This online store is secured by Shopify" target="_blank" class="secure-btn"><img src="//cdn.shopify.com/s/images/badges/shopify-secure-badge-light-shadow.png" alt="Shopify secure badge" /></a>
        <div class="checkout-button-container">
          <input type="submit" name="checkout" class="btn" value="{{ 'cart.general.checkout' | t }}">
        </div>
        {% if shop.locale == 'en' %}
          {% include 'benefit-icons-cart' %}
        {% endif %}
      </div>
    </div>
    <table class="wrapper cart-table full table--responsive">
      <thead class="cart__row cart__header-labels">
        <th colspan="2">{{ 'cart.label.product' | t }}</th>
        <th>{{ 'cart.label.price' | t }}</th>
        <th>{{ 'cart.label.quantity' | t }}</th>
        <th class="text-right">{{ 'cart.label.total' | t }}</th>
      </thead>
      <tbody>
        {% for item in cart.items %}
          <tr class="cart__row table__section">
            <td data-label="{{ 'customer.order.product' | t }}">
              <a href="{{ item.url }}">
              {% comment %}
                More image size options at:
                  - http://docs.shopify.com/themes/filters/product-img-url
              {% endcomment %}
              <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td>
              <h4>
                <a href="{{ item.url }}">
                {{ item.product.title }}
                </a>
              </h4>
              {% unless item.variant.title contains 'Default' %}
                <small>{{ item.variant.title }}</small>
              {% endunless %}

              {% if settings.cart_vendor_enable %}
                <p>{{ item.vendor }}</p>
              {% endif %}

              {% comment %}
                Optional, loop through custom product line items if available

                For more info on line item properties, visit:
                  - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
              {% endcomment %}
              {% assign property_size = item.properties | size %}
              {% if property_size > 0 %}
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                    {{ p.first }}:

                    {% comment %}
                      Check if there was an uploaded file associated
                    {% endcomment %}
                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}
                    {% endif %}

                    <br>
                  {% endunless %}
                {% endfor %}
              {% endif %}

              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove">
                <small>{{ 'cart.general.remove' | t }}</small>
              </a>
            </td>
            <td class="price-cell" data-label="{{ 'cart.label.price' | t }}">
              <span class="h3 price">
                {{ item.price | money }}
              </span>
            </td>
            <td data-label="{{ 'cart.label.quantity' | t }}">
              <input class="quantity" type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0">
            </td>
            <td data-label="{{ 'cart.label.total' | t }}" class="total-cell">
              <span class="h3">
                {{ item.line_price | money }}
              </span>
              {% if item.total_discount > 0 %}
                <div class="discount_message">
              	<s>{{ item.original_line_price | money }}</s>
                ({{ item.message }})
                </div>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="wrapper grid cart__row">
      <div class="grid__item one-whole text-right{% if settings.cart_notes_enable %} one-third small--one-whole{% endif %}">
        <p>
          <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
          <span class="h3 cart__subtotal">{{ cart.total_price | money }}</span>
        </p>
        <div class="cart-text">
          <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>
        </div>
        <!-- marketizator start -->
        <input id="mktz_custom" name="attributes[mktz_custom]" type="hidden" value="" />
        <!-- marketizator end -->
        <input type="submit" name="update" class="btn--secondary update-cart" value="{{ 'cart.general.update' | t }}">
        <input type="submit" name="checkout" class="btn" value="{{ 'cart.general.checkout' | t }}">
        <div class="clearfix"></div>
        <a href="/" class="continue_shopping">&lt; {{ 'cart.general.continue_shopping' | t }}</a>
      </div>
    </div>

  </form>
  <div class="wrapper">
    <div class="one-half medium--one-whole small--one-whole recommended-accessories">
      {% include 'recommended-accessories' %}
    </div>
  </div>
{% else %}
  {% comment %}
    The cart is empty
  {% endcomment %}
  <div class="wrapper">
    <div class="cart-title empty">
    <h2>{{ 'cart.general.title' | t }}</h2>
    </div>
    <p>{{ 'cart.general.empty' | t }}</p>
    <p>
      <a href="/" class="btn back-to-store">
        {{ 'cart.general.continue_browsing_html' | t }}
      </a>
    </p>
  </div>
{% endif %}
  <!-- Omniconvert Start -->
<script>
document.onreadystatechange = function () {
  if (document.readyState == 'complete') {
    var variations = _mktz.getSeenVariations();
    var visitor    = _mktz.getVisitor();
    if (variations && visitor) {
      var experimentData = {
        'uid': visitor.uid,
        'session': visitor.session_id,
        'last_variation': variations.join('|')
      };

      $('#mktz_custom').val(JSON.stringify(experimentData));
    }
  }
};
</script>
<!-- Omniconvert End -->
<!-- Criteo Start -->
<script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>
<script type="text/javascript"> window.criteo_q = window.criteo_q || [];
var deviceType = /iPad/.test(navigator.userAgent) ? "t" : /Mobile|iP(hone|od)|Android |BlackBerry|IEMobile|Silk/.test(navigator.userAgent) ? "m" : "d";
window.criteo_q.push(
{ event: "setAccount", account: 43826 },
{ event: "setSiteType", type: deviceType },
{ event: "viewBasket", item: [ { id: "1", price: {{ cart.total_price| money_without_currency }}, quantity: 1 } ]}
);
</script>
<!-- Criteo End -->
