<!-- /templates/product.liquid -->
{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}
{% if product.handle == 'kardiamobile' %}
  {% assign product_accessories = collections.kardiamobile-accessories %}
  {% assign product_name = 'kardiamobile' %}
{% endif %}
{% if product.handle == 'kardiamobile6l' %}
  {% assign product_accessories = collections.kardiamobile6l-accessories %}
  {% assign product_name = 'kardiamobile6l' %}
{% endif %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}
{% assign isKmAccessory = false %}
{% for kmAccessoryProduct in collections.kardiamobile-accessories.products %}
  {% if product.handle == kmAccessoryProduct.handle %}
    {% assign isKmAccessory = true %}
  {% endif %}
{% endfor %}
{% assign isKm6LAccessory = false %}
{% for km6lAccessoryProduct in collections.kardiamobile6l-accessories.products %}
  {% if product.handle == km6lAccessoryProduct.handle %}
    {% assign isKm6LAccessory = true %}
  {% endif %}
{% endfor %}
{% assign kmHowItWorksVideoId = '251698484' %}
{% assign km6lHowItWorksVideoId = '335613884' %}
{% assign km-oos = false %}
{% assign lateship = false %}
{% for tag in product.tags %}
  {% if product.handle == 'kardiamobile' and shop.locale == 'en' and tag == 'oos' %}
    {% assign km-oos = true %}
  {% endif %}
  {% if tag == 'lateship' %}
    {% assign lateship = true %}
  {% endif %}
{% endfor%}


<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% if product.metafields.stamped.reviews_count and product.metafields.stamped.reviews_count != "0" %}
  <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
  <span itemprop="itemReviewed" content="{{ product.title }}"></span>
  <span itemprop="ratingValue" content="{{ product.metafields.stamped.reviews_average | round:2 }}"></span>
  <span itemprop="ratingCount" content="{{ product.metafields.stamped.reviews_count }}"></span>
  </div>
  {% endif %}

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}

  {% include 'breadcrumb' %}
  <div class="grid product-single">
    <div class="grid__item large--one-half text-center">
      <div class="product-single__photos" id="ProductPhoto">
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
        <img src="{{ featured_image | img_url: '600x' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
        <div class="img-caption {{ product_name }}"></div>
      </div>
      {% comment %}
        Create thumbnails if we have more than one product image
      {% endcomment %}
      {% if product.images.size > 1 %}
        <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">

          {% for image in product.images %}
            {% if product_name == 'kardiaband' %}
              {% if forloop.first != true %}
                <li class="grid__item one-third medium--one-fifth small--one-quarter">
                  <a href="{{ image.src | img_url: '800x' }}" class="product-single__thumbnail">
                    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
                  </a>
                </li>
              {% endif %}
            {% else %}
            <li class="grid__item one-third medium--one-fifth small--one-quarter">
              <a href="{{ image.src | img_url: '800x' }}" class="product-single__thumbnail">
                <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
              </a>
            </li>
          {% endif %}
          {% endfor %}

          {% comment %} Add How it works video for KM and KB {% endcomment %}
          {% if product_name == 'kardiamobile' %}
            <li class="grid__item one-third medium--one-fifth small--one-quarter">
              <a class="play-video ga-tracker"
                data-videoid="{{ kmHowItWorksVideoId }}"
                data-category="Video"
                data-action="KardiaMobile How it works"
                data-label="/products/{{ handle }}">
                <img src="{{ 'KM_video.jpg' | asset_img_url: 'compact' }}" alt="{{ image.alt | escape }}">
              </a>
            </li>
          {% endif %}
          {% if product_name == 'kardiamobile6l' %}
            <li class="grid__item one-third medium--one-fifth small--one-quarter">
              <a class="play-video ga-tracker"
                data-videoid="{{ km6lHowItWorksVideoId }}"
                data-category="Video"
                data-action="KardiaMobile 6L How it works"
                data-label="/products/{{ handle }}">
                <img src="{{ 'KM_video.jpg' | asset_img_url: 'compact' }}" alt="{{ image.alt | escape }}">
              </a>
            </li>
          {% endif %}

        </ul>
      {% endif %}
    </div>

    <div class="grid__item large--one-half {% if shop.locale == 'en' %}flex-order{% endif %}">
      <h2 class="h2Title product-title" itemprop="name">{{ product.title }}</h2>

      <!-- Price stuff ======================================================== -->
      {% if product.compare_at_price_max > product.price %}
        <div>
          <span id="ProductPrice" class="h2Price red">
            {{ product.price | money }}
          </span>
          <span class="strikeout">
          {{ current_variant.compare_at_price | money }}
          </span>
        </div>
      {% else %}
        <span id="ProductPrice" class="h2Price noFloat">
          {{ product.price | money }}
        </span>
      {% endif %}

      <!-- Add to Cart
      ======================================================== -->
      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <meta itemprop="price" content="{{ product.price | money_without_currency }}">
        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

      {% comment %}
        If there are variants, show the user a variant title
      {% if product.variants.size > 1 %}
      <div class="h3">{{product.options.first | escape}}</div>
      {% endif %}
      {% endcomment %}
        
      {% include 'product-add-to-cart' %}
      </div>
      {% if km-oos %}
        <div style="clear: left">
          {% include 'oos-message', nomargin: true %}
        </div>
      {% endif %}
      {% if lateship %}
      <div style="clear: left">
        <p class="product-late-ship">
          Please allow 1-2 weeks for delivery.
        </p>
      </div>
      {% endif %}

      <!-- cool stuff! ======================================================== -->
      <h3 class="cool-stuff">
        {% if shop.locale == 'en' %}
          {% include 'benefit-icons-product' %}
        {% else %}
          {{ 'main_product.guarantee' | t }}<br>
          {{ 'main_product.warranty_2years' | t }}
        {% endif %}
      </h3>

      <div>
        <!-- Star rating ======================================================== -->
        <div class="review-count">
          <a href="#reviews" class="scroll-to-tab">
            {% if shop.locale == 'en' %}
              <span class=" stamped-product-reviews-badge" data-id="{{ product.id }}" style="display:block;">{{ product.metafields.stamped.badge }}</span>
            {% else %}
              <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
              <span class="go-see-em">{{ 'main_product.see_all_reviews' | t }}</span>
            {% endif %}
          </a>
        </div>

        {% if product_name == 'kardiamobile' or product_name == 'kardiamobile6l' %}
        <!-- Compat link ======================================================== -->
        <div class="compat-link">
          <a href="#compatibility" class="scroll-to-tab">
            See compatibility
          </a>
        </div>
        {% endif %}
      </div>

      <!-- Product Description ====================================================== -->
      <div class="product-description rte product" itemprop="description">
        {% comment %}
          Wrap description in a div and add another div into description in admin and use styles to show hide the correct one
        {% endcomment %}
        {{ product.description }}
      </div>

      {% comment %}
        If the user is on a collection product page (ie with /collections/collection-handle/products/product-handle)
        in the URL, we can show next/previous links to other products in the collection.
      {% endcomment %}
      {% if collection %}
        {% if collection.previous_product or collection.next_product %}
          <p>
            {% if collection.previous_product %}
              <span class="left">
                {{ 'products.general.previous_product_html' | t | link_to: collection.previous_product }}
              </span>
            {% endif %}
            {% if collection.next_product %}
              <span class="right">
                {{ 'products.general.next_product_html' | t | link_to: collection.next_product }}
              </span>
            {% endif %}
          </p>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>

<div class="mobile-add-to-cart-btn {{product.handle}}">
  {% include 'product-add-to-cart-2' %}
</div>

{% include 'product-tabs' %}

{% if product_accessories.products.length > 0 %}
  <div class="section">
    <a name="accessories"></a>
    <h3>{{ 'homepage.sections.frontpage_title' | t }}</h3>
  </div>

  <div class="grid-uniform product-accessories">

    {% comment %}
      Loop through products in your KardiaMobile accessories collection.
      This collection is created by default, but you must add products to it.
    {% endcomment %}
    {% for product in product_accessories.products limit:6 %}
      {% comment %}
        Change the grid item width by using classes from the grid in
        the grid_item_width variable.
      {% endcomment %}
      {% if product_accessories.products.length <= 3 %}
        {% assign grid_item_width = 'large--one-third medium--one-half' %}
      {% else %}
      {% assign grid_item_width = 'large--one-quarter medium--one-half' %}
      {% endif %}
      {% include 'home-grid-item' %}
    {% endfor %}

  </div>
{% endif %}

{% if isKmAccessory %}
  <div class="section">
    <h3>Use with</h3>
  </div>
  <div class="grid-uniform">
  {% for product in collections.main-product.products %}
    {% if product.handle == 'kardiamobile' %}
      {% assign grid_item_width = 'large--one-third medium--one-half' %}
      {% assign product_name = 'kardiamobile_accessory' %}
      {% include 'home-grid-item' %}
    {% endif %}
  {% endfor %}
  </div>
{% endif %}

{% if isKm6LAccessory %}
  <div class="section">
    <h3>Use with</h3>
  </div>
  <div class="grid-uniform">
  {% for product in collections.main-product.products %}
    {% if product.handle == 'kardiamobile6l' %}
      {% assign grid_item_width = 'large--one-third medium--one-half' %}
      {% assign product_name = 'kardiamobile_accessory' %}
      {% include 'home-grid-item' %}
    {% endif %}
  {% endfor %}
  </div>
{% endif %}

<!-- DataLayer pushes -->
<script type="text/javascript">
  dataLayer.push({
    productId: '{{ product.id }}'
  });

  // adding caption to photos
  var currentProduct = '{{ product.handle }}',
      currentCaption = '',
      showCaption = false;
  switch (currentProduct) {
    case 'kardiamobile':
      currentCaption = 'Check<br/>compatible<br/>devices';
      showCaption = true;
      break;
    case 'kardiamobile-carrypod':
      currentCaption = 'KardiaMobile in Carry Pod';
      showCaption = true;
      break;
    case 'kardiamobile-phoneclip':
      currentCaption = 'Phone Clip adheres to back of phone or phone case. KardiaMobile snaps right in.';
      showCaption = true;
      break;
    default:
      break;
  }
  $(document).ready(function() {
    // showing captions on product pages
    var firstImg;

    if (showCaption) {
      $('#ProductPhoto .img-caption').html(currentCaption);
      firstImg = $('.product-single__thumbnails li:first-child a').attr('href');
      $('#ProductPhotoImg').on('load', function () {
        // when changing images, check if first one
        checkImg(firstImg);
      });
    }
    var checkImg = function(firstImg) {
      if (firstImg === $('#ProductPhotoImg').attr('src')) {
        $('#ProductPhoto .img-caption').html(currentCaption);
      } else {
        $('#ProductPhoto .img-caption').html('');
      }
    }

    $('#kardiamobile-6l #ProductThumbs li').on('click', function() {
      if ($(this).index() === 3) {
        $('#ProductPhoto .img-caption').show();
        $('#ProductPhoto .img-caption').html('1-lead EKG recording with fingers');
      } else if ($(this).index() === 4) {
        $('#ProductPhoto .img-caption').show();
        $('#ProductPhoto .img-caption').html('6-lead EKG recording with left knee');
      } else if ($(this).index() === 5) {
        $('#ProductPhoto .img-caption').show();
        $('#ProductPhoto .img-caption').html('6-lead EKG recording with left ankle');
      } else {
        $('#ProductPhoto .img-caption').hide();
      }
    })
  });
</script>